<a [routerLink]="['/products/new']">Create Product</a>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <a routerLink="['/products/view', product.id]">Detail</a>
        <a routerLink="['/products/edit', product.id]">Editar</a>
        <a (click)="delete(product.id)">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
