<a [routerLink]="['/products']">Go to product list.</a>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="applyCssError('name')">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>

    <app-form-error [show]="isInvalidAndEmpty('name')">
      The name is required
    </app-form-error>

  </div>

  <div class="form-group" [ngClass]="applyCssError('price')">
    <label class="center-block">Price:
      <input class="form-control" formControlName="price">
    </label>

    <app-form-error [show]="isInvalidAndEmpty('price')">
      The price is required
    </app-form-error>

  </div>

  <button type="submit" [disabled]="form.invalid" class="btn btn-success">Send</button>
</form>
